{% extends 'base.html' %}

<html>
<head>
    <title>Home page</title>
</head>
<body>
{% block content %}
    <div class="container">
    <dl>
    <dt class="font-weight-bold">About founder</dt>
    <dd> Founder & CEO of Durgasoftware Solutions

   Mr N. Durga Prasad ( M.Tech), PostGraduate from Andhra University and then started working as Software Engineer from IBM.

After few years of working found that there is a BIG GAP between what Corporates want and what candidate’s posses.

After seeing this situation, Immediately he quit the Job and conducted a research across institutions, industry and students, for 8 months and realised students are gems, but lack of innovative things they failed, So he started “DURGA SOFTWARE SOLUTIONS” for very less price in the market and to enhance the quality of people in to Corporate field by giving best knowledge to students via teaching and skill development.

After years of struggle, he was succeeded in that and giving Knowledge as well as innovative thoughts to enter in corporate field for lakhs of students in a span of 8 years and Now his dreams come true that his students enters in to the corners of whole world and became INDIA’S NO #1 in SOFTWARE TRAINING INDUSTRY as DURGASOFT.</dd>
    <dt class="font-weight-bold">Achivements</dt>
    <dt>
        <ol>
            <li>very good institute</li>
            <li>students trained by Real time faculty</li>
            <li>somany students placed in MNCS</li>
            <li>Approved by the NAAC</li>
        </ol>
    </dt>
    </dl>
    </div>

{% endblock %}
</body>



</html>