{% extends 'base.html' %}

<html>
<head>
    <title>services page</title>
</head>
{% block content %}
 <h1 class="text-center">Avalable Courses</h1>
    <table class="table table-bordered text-center">
    <thead>
    <tr class="bg-success text-white">
        <th>course name</th>
        <th>start date</th>
        <th>Duration</th>
        <th>Timings</th>
        <th>Fee</th>
        <th>Faculty name</th>
    </tr>

    </thead>
    <tbody class="bg-danger text-white">
    <tr>
        <td>python</td>
        <td>11-04-2019</td>
        <td>2 months</td>
        <td>7am-8.30am</td>
        <td>2000/-</td>
        <td>Mr.Narayana sir</td>
    </tr>
    <tr >
        <td>Django</td>
        <td>11-04-2019</td>
        <td>2 months</td>
        <td>9am-10am</td>
        <td>2000/-</td>
        <td>Mr.Narayana sir</td>
    </tr>
    <tr>
        <td>Rest API</td>
        <td>14-04-2019</td>
        <td>1 month</td>
        <td>4pm-5pm</td>
        <td>1000/-</td>
        <td>Mr.Srinivas</td>
    </tr>
    <tr>
        <td>UI</td>
        <td>16-04-2019</td>
        <td>45 days</td>
        <td>2pm-3:30pm</td>
        <td>1000/-</td>
        <td>Mr.narayana</td>
    </tr>
    </tbody>

    </table>

{% endblock %}

</html>